.banner {
    width: 100%;
}



.navbar {
    min-width: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}



.btn-btn-primary {
    background-color: rgb(234, 131, 13);
}

.content {
    max-width: 1200px;
}

.container {
    height: 900px;
    justify-content: center;

    .content-mx-auto {
        justify-content: center;
    }
    .text-primary {
        color: var(--primary) !important;
        min-height: var(--primary) !important;
    }

    .bg-primary {
        color: rgb(234, 131, 13);
    }
}