.banner {
    width: 100%;
}
.content mx-auto {
    justify-content: center;
}
.navbar {
    min-width: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-primary {
    color: var(--primary) !important;
    min-height: var(--primary) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.content {
    max-width: 1200px;
}

#container {
    height: 900px;
}