$primary: #ea830d;

// Maps

$redes: (
    facebook: #3b5999,
    instagram: #e4405f,
    twitter: #55acee,
    pinterest: #bd081c,
    linkedin: #0077B5,
);

// Each
@each $red,
$color in $redes {
    .red-#{$red} {
        color: $color;
        display: inline-block;
        margin: 0 5px;
        width: 100px;
        height: 100px;
        text-align: center;
    }
}

// Mixins

@mixin encabezados($tamaño) {
    h1 {
        font-size: $tamaño;
    }

    h2 {
        font-size: $tamaño - 0.2;
    }

    h3 {
        font-size: $tamaño - 0.5;
    }
}

@include encabezados(1.5em);

// Extend

.boton {
    text-align: center;
    background: #31384A;
    color: #fff;
    padding: 20px;
}

.btn {
    padding: 1rem;

    .btn-primary {
        @extend .boton;
        background-color: var(--primary);
        border-color: var(--primary);
    }
}