$primary: #4225c4;

// Each

$lista-colores: #63b060, #4f8c4d, rgb(250, 155, 21), #243624;

@each $color in $lista-colores {
    .color-#{$color} {
        background-color: $color;
    }
}

// Maps

$redes: (
    facebook: #3b5999,
    instagram: #e4405f,
    twitter: #55acee,
    pinterest: #bd081c,
    linkedin: #0077B5,
);

@each $red,
$color in $redes {
    .red-#{$red} {
        color: $color;
        display: inline-block;
        margin: 0 5px;
        width: 100px;
        height: 100px;
        text-align: center;
    }
}

// Mixins

@mixin encabezados {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }
}

@mixin encabezados($tamaño) {
    h1 {
        font-size: $tamaño;
    }

    h2 {
        font-size: $tamaño - 0.2;
    }

    h3 {
        font-size: $tamaño - 0.5;
    }
}

@include encabezados(2em);

@include encabezados(1.5em);

@media(min-width: 480px) {
    @include encabezados(2em);
}

@media(min-width: 768px) {
    @include encabezados(2.5em);
}

// Extend

.boton {
    text-align: center;
    background: #31384A;
    color: #fff;
    padding: 20px;
}

.btn {
    padding: 1rem;

    .btn-primary {
        @extend .boton;
        background-color: var(--primary);
        border-color: var(--primary);
    }
}