:root{
    --primary: #4225c4;
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --pinterest: #bd081c;
    --linkedin: #0077B5;
}

body{
    background: #63b060;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}