/* SERVICIOS */

.container-all {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    display: grid;
}

.title {
    font-size: 40px;
    padding-top: 0%;
    text-align: center;
}

.container-all img {
    width: 100%;
    margin-right: 10px;
}

.contenido {
    width: auto 90%;
    max-width: 1000px;
}

.sidebar-02 {
    text-align: center;
}

.content-02>.article {
    background: #0c6108;
    padding: 20px;
    margin-top: 10px;
    color: white;
    width: 100%;
    margin: 10%;
}

.content-02>.article p {
    padding: 5px;
}

.container>img {
    width: 100%;
    margin-top: 100px;
}

.img .sidebar-02 {
    width: auto 100%;
    padding: 10%;
    filter: drop-shadow(5px 5px 5px black);
}

aside img {
    max-width: 100%;
    max-height: 100%;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}